# LeetCode Problem 1484: Group Sold Products By The Date
---
[Problem Link](https://leetcode.com/problems/group-sold-products-by-the-date/description/)

## Problem Description

Given a table `Activities` containing sold products and their respective sell dates, write a solution to find for each date the number of different products sold and their names.

The sold product names for each date should be sorted lexicographically.

Return the result table ordered by `sell_date`.

### Example 1

**Input:**  
Activities table:

| sell_date  | product    |
|------------|------------|
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |



**Output:**  

| sell_date  | num_sold | products                     |
|------------|----------|------------------------------|
| 2020-05-30 | 3        | Basketball, Headphone, T-Shirt |
| 2020-06-01 | 2        | Bible, Pencil                 |
| 2020-06-02 | 1        | Mask                         |


**Explanation:**
For `2020-05-30`, sold items were `(Headphone, Basketball, T-shirt)`, sorted lexicographically and separated by a comma.
For `2020-06-01`, sold items were `(Pencil, Bible)`, sorted lexicographically and separated by a comma.
For `2020-06-02`, the sold item is `(Mask)`, so we just return it.

## Approach to Solve the Problem

1. Group by `sell_date`.
2. Count the number of unique products sold.
3. Collect and sort product names lexicographically.
4. Format the product names as a comma-separated string.
5. Return the result ordered by `sell_date`.


Happy coding! ðŸŽ‰

In [155]:
import pandas as pd


def categorize_products(activities):
    df = activities.groupby(["sell_date"])["product"].apply(list).reset_index()

    df = df.assign(
        product=lambda x: x["product"].apply(lambda x: sorted(set(x))),
        num_sold=lambda x: x["product"].apply(len),
        products=lambda x: x["product"].apply(lambda x: ",".join(x)),
    ).drop(columns=["product"])[["sell_date", "num_sold", "products"]]

    return df

In [157]:
data = [
    ["2020-05-30", "Headphone"],
    ["2020-06-01", "Pencil"],
    ["2020-06-02", "Mask"],
    ["2020-05-30", "Basketball"],
    ["2020-06-01", "Bible"],
    ["2020-06-02", "Mask"],
    ["2020-05-30", "T-Shirt"],
]

activities = pd.DataFrame(data, columns=["sell_date", "product"]).astype(
    {"sell_date": "datetime64[ns]", "product": "object"}
)

categorize_products(activities)

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask