# LeetCode Problem 1581: Customer Who Visited but Did Not Make Any Transactions
---
[Problem Link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/description/?envType=study-plan-v2&envId=top-sql-50)

## Problem Description

Given two tables, `Visits(visit_id, customer_id)` and `Transactions(transaction_id, visit_id, amount)`, find the **IDs of customers who had visits with no transactions** and the **number of such visits** per customer.

Return the result with columns `customer_id` and `count_no_trans` in any order.

**Table: Visits**

| Column Name | Type |
|-------------|------|
| visit_id    | int  |
| customer_id | int  |

**Table: Transactions**

| Column Name    | Type |
|----------------|------|
| transaction_id | int  |
| visit_id       | int  |
| amount         | int  |


### Example 1

**Input:**

Visits

| visit_id | customer_id |
|----------|-------------|
| 1        | 23          |
| 2        | 9           |
| 4        | 30          |
| 5        | 54          |
| 6        | 96          |
| 7        | 54          |
| 8        | 54          |

Transactions

| transaction_id | visit_id | amount |
|----------------|----------|--------|
| 2              | 5        | 310    |
| 3              | 5        | 300    |
| 9              | 5        | 200    |
| 12             | 1        | 910    |
| 13             | 2        | 970    |

**Output:**

| customer_id | count_no_trans |
|-------------|----------------|
| 54          | 2              |
| 30          | 1              |
| 96          | 1              |

**Explanation:**  
Count visits for each customer where no matching transaction exists.

---

## Approach to Solve the Problem (aligned with your pandas code)

1. Right-join `Transactions` onto `Visits` by `visit_id` to keep all visits.
2. Filter rows where `transaction_id` is `NaN` (visits without transactions).
3. Group by `customer_id` and count `visit_id` to get `count_no_trans`.
4. Return `customer_id` and `count_no_trans` (order can be arbitrary).

In [85]:
import pandas as pd


def find_customers(visits: pd.DataFrame, transactions: pd.DataFrame) -> pd.DataFrame:
    df = transactions.merge(visits, how='right', on='visit_id')
    df = (df[df['transaction_id'].isna()]
      .groupby(by='customer_id', as_index=False)
      .count()
      .rename(columns={'visit_id':'count_no_trans'}))
    return df[['customer_id', 'count_no_trans']]

In [86]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})
data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [87]:
find_customers(visits, transactions)

   customer_id  count_no_trans
0           30               1
1           54               2
2           96               1