# LeetCode Problem 1741: Find Total Time Spent by Each Employee  
---  
[Problem Link](https://leetcode.com/problems/find-total-time-spent-by-each-employee/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata1741)  

## Problem Description  

You are given a table `Employees` with the following structure:  

### Table: Employees  

| Column Name | Type |  
|-------------|------|  
| emp_id      | int  |  
| event_day   | date |  
| in_time     | int  |  
| out_time    | int  |  

- `(emp_id, event_day, in_time)` is the **primary key** (combinations of columns with unique values).  
- The table shows the **entries and exits** of employees in an office.  
- `event_day` is the **date** of the event.  
- `in_time` and `out_time` are **minutes of the day** (from 1 to 1440).  
- **No two events on the same day overlap**, and **in_time < out_time**.  

Write a solution to calculate the **total time (in minutes) spent** by each employee **on each day** at the office.  
- An employee **may enter and leave multiple times a day**.  
- The time spent in a single entry is **out_time - in_time**.  

Return the result table **in any order**.  

### Example 1  

**Input:**  

**Employees table:**  

| emp_id | event_day  | in_time | out_time |  
|--------|------------|---------|----------|  
| 1      | 2020-11-28 | 4       | 32       |  
| 1      | 2020-11-28 | 55      | 200      |  
| 1      | 2020-12-03 | 1       | 42       |  
| 2      | 2020-11-28 | 3       | 33       |  
| 2      | 2020-12-09 | 47      | 74       |  

**Output:**  

| day        | emp_id | total_time |  
|------------|--------|------------|  
| 2020-11-28 | 1      | 173        |  
| 2020-11-28 | 2      | 30         |  
| 2020-12-03 | 1      | 41         |  
| 2020-12-09 | 2      | 27         |  

**Explanation:**  

- Employee **1** has three events:  
  - **2020-11-28**: `(32 - 4) + (200 - 55) = 173` minutes.  
  - **2020-12-03**: `(42 - 1) = 41` minutes.  
- Employee **2** has two events:  
  - **2020-11-28**: `(33 - 3) = 30` minutes. 
  
   
## Approach to Solve the Problem  

1. **Rename Columns:**  
    - Rename `event_day` to `day` for clarity in the final output.  

2. **Calculate Total Time for Each Entry:**  
    - Compute the time spent in the office using:  
      ```
      total_time = out_time - in_time
      ```

3. **Group by Employee and Date:**  
    - Since an employee can enter **multiple times** in one day, sum all `total_time` values for each `(emp_id, day)`.  

4. **Return the DataFrame Sorted by `day`** 

Happy coding! ðŸŽ‰

In [81]:
import pandas as pd
def total_time(employees):
    employees.rename(columns={'event_day': 'day'}, inplace=True)
    employees['total_time'] = employees['out_time'] - employees['in_time'] 
    employees = employees.groupby(['emp_id', 'day'])[['total_time']].sum().reset_index()
    return employees[['day', 'emp_id', 'total_time']].sort_values(by='day')

In [86]:
# Data from Leetcode problem 1741
data = [
    ["1", "2020-11-28", "4", "32"],
    ["1", "2020-11-28", "55", "200"],
    ["1", "2020-12-3", "1", "42"],
    ["2", "2020-11-28", "3", "33"],
    ["2", "2020-12-9", "47", "74"],
]

# Create a DataFrame
employees = pd.DataFrame(
    data, columns=["emp_id", "event_day", "in_time", "out_time"]
).astype(
    {
        "emp_id": "Int64",
        "event_day": "datetime64[ns]",
        "in_time": "Int64",
        "out_time": "Int64",
    }
)

# Call the function
total_time(employees)

         day  emp_id  total_time
0 2020-11-28       1         173
2 2020-11-28       2          30
1 2020-12-03       1          41
3 2020-12-09       2          27