# LeetCode Problem 1683: Invalid Tweets
---
[Problem Link](https://leetcode.com/problems/invalid-tweets/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata1683)

## Problem Description

You are given a table `Tweets` with the following structure:

### Table: Tweets

| Column Name | Type    |
|-------------|---------|
| tweet_id    | int     |
| content     | varchar |

- `tweet_id` is the primary key for this table.
- `content` consists of characters on an American keyboard and no other special characters.
- The table contains all tweets in a social media app.

A tweet is considered **invalid** if its `content` has more than 15 characters.

### Example 1

**Input:**

**Tweets table:**

| tweet_id | content                           |
|----------|-----------------------------------|
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |

**Output:**

| tweet_id |
|----------|
| 2        |

**Explanation:**
- Tweet 1 has length = 11, so it is valid.
- Tweet 2 has length = 33, so it is invalid.

## Approach

- Filter tweets where the length of `content` is greater than 15.
- Return the `tweet_id` of these invalid tweets.

Happy coding! ðŸŽ‰

In [61]:
import pandas as pd

def invalid_tweets(tweets):
    invalid = tweets.loc[tweets['content'].str.len() > 15, ['tweet_id']]
    return invalid

In [62]:
# Data from leetcode problem
data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [63]:
# Example 1
invalid_tweets(tweets)

   tweet_id
1         2