# LeetCode Problem 183: Customers Who Never Order
---
[Problem Link](https://leetcode.com/problems/customers-who-never-order/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata183)

## Problem Description

You are given two tables, `Customers` and `Orders`, with the following structures:

### Table: Customers

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the ID and name of a customer.

### Table: Orders

| Column Name | Type |
|-------------|------|
| id          | int  |
| customerId  | int  |

- `id` is the primary key (column with unique values) for this table.
- `customerId` is a foreign key (reference column) of the `id` from the `Customers` table.
- Each row of this table indicates the ID of an order and the ID of the customer who ordered it.

Write a solution to find all customers who never order anything.

### Example 1

**Input:**

**Customers table:**

| id | name  |
|----|-------|
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |

**Orders table:**

| id | customerId |
|----|------------|
| 1  | 3          |
| 2  | 1          |

**Output:**

| Customers |
|-----------|
| Henry     |
| Max       |

## Approach to Solve the Problem
1. Convert the given data into two pandas DataFrames: `customers` and `orders`.
2. Define a function `find_customers` that:
   - Performs a left join (`merge`) between `customers` and `orders` using `id` from `customers` and `customerId` from `orders`.
   - Filters the merged DataFrame to retain only customers with missing values in `customerId` from `orders`.
   - Returns a DataFrame with only the `name` column, renamed as `Customers`.
3. Call the function with the DataFrames and display the result.


Happy coding! ðŸŽ‰

In [38]:
import pandas as pd

def find_customers(customers, orders):
    merged_df = customers.merge(orders, left_on='id', right_on='customerId', how='left')
    no_orders = merged_df[merged_df['customerId'].isna()][['name']]
    return no_orders.rename(columns={'name': 'customer'})

In [39]:
# Data from leetcode problem
data = [[1, 'Joe'], 
        [2, 'Henry'], 
        [3, 'Sam'], 
        [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

data =  [[1, 3], 
                [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [40]:
orders

   id  customerId
0   1           3
1   2           1

In [41]:
find_customers(customers, orders)

  customer
1    Henry
3      Max