# LeetCode Problem 1873: Calculate Special Bonus
---
[Problem Link](https://leetcode.com/problems/calculate-special-bonus/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata1873)

## Problem Description

You are given a table `Employees` with the following structure:

### Table: Employees

| Column Name  | Type    |
|-------------|---------|
| employee_id | int     |
| name        | varchar |
| salary      | int     |

- `employee_id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the employee ID, employee name, and salary.

Write a solution to calculate the bonus of each employee. The bonus of an employee is:
- 100% of their salary if the `employee_id` is an **odd number** and the employee's `name` does **not** start with the character 'M'.
- `0` otherwise.

Return the result table ordered by `employee_id`.

### Example 1

**Input:**

**Employees table:**

| employee_id | name    | salary |
|-------------|---------|--------|
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |

**Output:**

| employee_id | bonus |
|-------------|-------|
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |

## Approach to Solve the Problem

1. Convert the given data into a pandas DataFrame.
2. Define a function `calculate_special_bonus` that:
   - Checks if `employee_id` is odd and `name` does not start with 'M'.
   - Assigns `salary` as bonus if conditions are met, otherwise assigns `0`.
   - Sorts the result by `employee_id`.
3. Return the resulting DataFrame.


Happy coding! ðŸŽ‰

In [53]:
import pandas as pd
import numpy as np

def calculate_special_bonus(employees):
    conditions =(employees['employee_id'] % 2 != 0)&(employees['name'].apply(lambda x: x[0] != 'M'))
    employees['bonus'] = np.where(conditions, employees['salary'], 0)
    output = employees[['employee_id', 'bonus']].sort_values(by='employee_id')
    return output

In [54]:
data = [[2, 'Meir', 3000], 
        [3, 'Michael', 3800], 
        [7, 'Addilyn', 7400], 
        [8, 'Juan', 6100], 
        [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

In [55]:
calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700