# LeetCode Problem 176: Second Highest Salary
---
[Problem Link](https://leetcode.com/problems/second-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the table `Employee` with columns `id` and `salary`, write a solution to find the **second highest distinct salary** from the Employee table.  
If there is no second highest salary, return `null` (or `None` in Pandas).

**Table: Employee**

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

- `id` is the primary key.
- Each row contains the salary of an employee.



### Example 1

**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

**Output:**  

| SecondHighestSalary |
|---------------------|
| 200                 |


### Example 2

**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

**Output:**  

| SecondHighestSalary |
|---------------------|
| null                |


**Explanation:**  
The result should be the **second highest unique salary** from the Employee table.  

- In Example 1, unique salaries in descending order are `[300, 200, 100]`, so the second highest salary is `200`.  
- In Example 2, only one unique salary exists, so there is no second highest salary â†’ `null`.


## Approach to Solve the Problem

1. Remove duplicate values from the `salary` column using `drop_duplicates()`, ensuring each salary is considered only once.
2. Sort the unique salaries in descending order using `sort_values(ascending=False)`.
3. Check if the number of unique salaries is less than 2:
   - If true, return a DataFrame with `SecondHighestSalary` set to `None`.
   - Otherwise, access the second value in the sorted series using `iloc[1]` and return it in the DataFrame.

In [87]:
import pandas as pd


def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique = employee["salary"].drop_duplicates()
    sorted = unique.sort_values(ascending=False)
    if len(sorted) < 2:
        return pd.DataFrame({"SecondHighestSalary": [None]})
    else:
        return pd.DataFrame({"SecondHighestSalary": [sorted.iloc[1]]})

In [90]:
# Data from LeetCode problem 
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

# Call the function 
second_highest_salary(employee)

   SecondHighestSalary
0                  200