# LeetCode Problem 177: Nth Highest Salary
---
[Problem Link](https://leetcode.com/problems/nth-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the table `Employee` with columns `id` and `salary`, write a solution to find the nth highest salary from the Employee table. If the nth highest salary does not exist, return null.

### Example 1

**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

n = 2

**Output:**  

| getNthHighestSalary(2) |
|------------------------|
| 200                    |

### Example 2

**Input:**  
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

n = 2

**Output:**  

| getNthHighestSalary(2) |
|------------------------|
| null                   |

**Explanation:**  
The result should be the nth highest unique salary from the Employee table.  
- In Example 1, the unique salaries sorted in descending order are [300, 200, 100]. Thus, the 2nd highest salary is 200.  
- In Example 2, there is only one unique salary, so the 2nd highest salary does not exist and null is returned.

## Approach to Solve the Problem

1. Generate a list of unique salaries by dropping duplicates.
2. Sort the salaries in descending order.
3. Check if n is within the valid range.
4. If valid, return the nth highest salary.
5. If not, return null.

In [47]:
import pandas as pd


def nth_highest_salary(employee, N):
    employee.columns = ['id', 'salary']
    df = employee["salary"].drop_duplicates().sort_values(ascending=False)
    if N > len(df) or N <= 0:
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})
    else:
        return pd.DataFrame({f"getNthHighestSalary({N})": [df.iloc[N - 1]]})

In [48]:
# Data from LeetCode problem 
data = [[1, 100], [2, 200], [3, 300]]

# Create DataFrame employee and n
N = 2
employee = pd.DataFrame(data, columns=["Id", "Salary"]).astype(
    {"Id": "Int64", "Salary": "Int64"}
)

# Call the function 
nth_highest_salary(employee, N)

   getNthHighestSalary(2)
0                     200