# LeetCode Problem 196: Delete Duplicate Emails
---
[Problem Link](https://leetcode.com/problems/delete-duplicate-emails/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the table `Person(id, email)`, delete all duplicate emails, keeping only the one with the **smallest id**.  
- For SQL: write a `DELETE` statement.  
- For Pandas: modify the DataFrame **in place**.

**Table: Person**

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

- `id` is the primary key.
- Emails contain only lowercase letters.

### Example 1

**Input:**

Person table:

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

**Output:**

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

**Explanation:**  
`john@example.com` appears twice. Keep the row with the smallest `id = 1` and remove the duplicate.


## Approach to Solve the Problem (aligned with your pandas code)

1. Sort the table by `id` in ascending order to prioritize smaller ids.  
2. Drop duplicates in the `email` column, keeping only the first occurrence.  
3. Perform the operation **in place**, so the modified DataFrame reflects the correct result.

In [271]:
import pandas as pd


def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by="id", ascending=True, inplace=True)
    person.drop_duplicates(subset="email", keep="first", inplace=True)

In [274]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [275]:
# Call the function
delete_duplicate_emails(person)

person

   id             email
0   1  john@example.com
1   2   bob@example.com